body {
    background-color: blue;
}

p {
    text-align: center;
}

.col-1 {
    text-align: right;
    background-color: rgb(255, 0, 191);
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.navbar-custom{
    background-color: teal;
}
.alert-danger{
    text-align: center;
}